/* Generic stuff */
.post-title
{
  display:                   none;
}
.post-header
{
  margin-bottom:             unset;
}
.resume
{
  font-family:               'Roboto', sans-serif;
  max-width:                 850px;
  padding-left:              10px;
  font-size:                 82%;
  line-height:               1.4;
}
.resume h1
{
  font-size:                 150%;
  font-weight:               bold;
  margin-top:                0px !important;
  margin-bottom:             0px !important;
}
.resume h2
{
  width:                     100%;
  font-size:                 133%;
  font-weight:               bold;
  margin-top:                0px;
  margin-bottom:             0px;
  padding-bottom:            2px;
  border-bottom:             solid 2px black
}
.resume p
{
  margin-bottom:             5px;
}
.resume a
{
  color:                     unset;
}

/* Header stuff */
.resume .header
{
  text-align:                center;
  width:                     80%;
  margin:                    auto;
  margin-top:                3px;
  margin-bottom:             -0.75em;
}
.resume .header > *
{
  margin-bottom:             3px;
  text-wrap:                 balance;
}
.resume .header :last-child
{
  margin-bottom:             0px;
}

/* Custom columns class */
.resume .columns
{
  display:                   flex;
  justify-content:           flex-start;
  padding-bottom:            2px;
  padding-top:               6px;
}
.resume .columns > div
{
  flex:                      1;
  text-align:                center;
  font-weight:               bold;
  margin-left:               2px;
  margin-right:              2px;
}
.resume .columns>div:first-child
{
  text-align:                left;
}
.resume .columns>div:last-child
{
  text-align:                right;
  height:                    1em;
}
.resume .columns>div>div
{
  text-align:                center;
  display:                   inline-block;
  height:                    max-content;
  width:                     75%;
}
.resume .columns>div:first-child div
{
  width:                     unset;
}
.resume .columns>div:last-child div
{
  text-align:                right;
}

/* Experience/Job Stuff */
.resume .experience > div
{
  padding-bottom:            5px;
}
.resume .experience .job
{
  margin-bottom:             10px;
  padding-bottom:            2px;
  margin-bottom:             1px;
  border-bottom:             solid 1px #999999;
}
.resume .experience :last-child{
  border-bottom:             unset;
}
.resume .experience .accomplishments li:first-child
{
  padding-right:             90px;
}

/* Qualification/Skill Stuff */
.resume .qualification
{
  display:                   flex;
  justify-content:           left;
}
.resume .qualification > div
{
  padding:                   5px;
  padding-bottom:            0px;
  flex:                      1;
  max-width:                 max-content;
}
.resume .qualification .qtitle
{
  min-width:                 120px;
  font-weight:               bold;
  font-size:                 110%;
}
.resume .qualification .qitem
{
  display:                   inline-block;
  padding-right:             10px
}
.resume .qualification .s1
{
  font-weight:               bold;
  color:                     #000000;
}
.resume .qualification .s2
{
  color:                     #333333;
}
.resume .qualification .s3
{
  color:                     #666666;
}
.resume .qualification .s4
{
  color:                     #999999;
}
.resume .qualification .s5
{
  color:                     #CCCCCC;
}

/* Custom bullets */
.resume ul
{
  list-style-type:           none;
  padding-left:              10px;
  position:                  relative;
  margin-left:               15px;
  margin-bottom:             0px;
  margin-top:                0px;
}
.resume li::before
{
  content:                   '\25C6';
  position:                  absolute;
  left:                      -5px;
  font-size:                 10px;
}
.resume li
{
  padding-left:              -5px;
  padding-bottom:            1px;
}
